//@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Meow+Script&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin:0;
  box-sizing: border-box;
}

body {
  background-color: #1D056D;
}

.nav {
  //position: fixed;
	display: inline-flex;
  flex-direction: row;
	//justify-content: space-around;
	align-items: center;
	height: 60px;
	top: 0;
  background-color: white;
  width: 100%;
  //z-index: 7;
}

.nav-logo {
  margin: auto;
  height: 50px;
  margin-left: 50px;
}

.nav-item-left {
  list-style-type: none;
  display: inline-block;
	margin: 0px 10px;
  text-decoration: none;
  color: #1D056D;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 14px;
}


.nav-buttons {
  display:flex;
  justify-content: flex-end;
  align-items: center;
  flex: 2;
  margin-right: 50px;
}

#purple-button {
  color: white;
  background-color: #1D056D;
}

#purple-button:hover {
  color: #1D056D;
  background-color: white;
}

#purple-button-side {
  color: white;
  background-color: #1D056D;
  margin-left: 10px;
}

#purple-button-side:hover {
  color: #1D056D;
  background-color: white;
}

#purple-button-auth {
  color: white;
  background-color: #1D056D;
  margin-top: 10px;
}

#purple-button-auth:hover {
  color: #1D056D;
  background-color: white;
}

.nav-item {
  display: inline-block;
	margin: 0px 10px;
  text-decoration: none;
  color: #1D056D;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 14px;
}

.burger-toggle {
  display: none;
  @media only screen and (max-width: 600px){
    display: inline-flex;
  }
}

.nav-toggle {
  @media only screen and (max-width: 600px){
    display: none;
  }
}

.burger-icon {
  color: #1D056D;
}

.side-nav-menu-container {
  width: 250px;
  color: #1D056D;
  background-color: white;
  height: auto;
  position: fixed;
  z-index: 2;
  right: -100%;
  padding: 20px 30px;
  border-radius: 0 0 0 20px;
  margin-top: 200px;
}

.side-nav-menu-container.active {
  right: 0;
  transition: all 0.4s;
}

.burger-icon {
  margin-left: 70%;
}

.auth-burger {
  margin-top: 60px;
}

.hero {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, [col] 200px ) ;
  grid-template-rows: repeat(3, [row] auto  );
  height: 100vh;
  background-image: url(https://i.imgur.com/8Bp5b5v.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
	justify-content: left;
	align-items: center;
}

.hero-row-one {
  grid-column: col 2 / span 3 ;
  grid-row: row 1;
  margin: 0;
  color: white;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 24px;
}

.logo {
  max-height: 100px;
}

.hero-row-two {
  grid-column: col 2 / span 3 ;
  grid-row: row 2;
  margin: 0;
  color: white;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 24px;
}

.hero-row-three {
  grid-column: col 2 / span 3 ;
  grid-row: row 3;
  margin: 0;
  color: white;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 20px;
  max-width: 900px
}

h4 {
  margin: 15px 0;
}

.join-button {
  list-style-type: none;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  background-color: #1D056D;
  color: white;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 14px;
  list-style-type: none;
  padding: 7px 10px;
}


.message-box {
  margin: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 400px;
}


.sender-name  {
  padding: 20px 0 5px 20px;
}

.sender-message {
  padding: 0 0 10px 20px;
  color: gray;
  font-style: italic;
}

.sender {
  color: white;
  padding: 10px;
  word-break: break-word;}

.receiver {
  color: white;
  padding: 10px;
  word-break: break-word;
}

.senderBubble {
  background-color: #1D056D;
  border-radius: 10px;
  max-width: 250px;
  margin: 5px;
  text-align: right;
  width: 80%;
}

.receiverBubble {
  background-color: darkgrey;
  border-radius: 10px;
  max-width: 250px;
  margin: 5px;
  width: 80%;
}

.write-message {
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
  border-radius: 25px;
  max-width: 250px;
}

.nav-logo {
  height: 50px;
}

body {
  background-color: #1D056D;
}

nav {
  background-color: white;
}

.btn.contained {
  color: #1D056D;
}

.purple {
  color: #1D056D;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.chat-card {
  padding: 10px;
  width: 300px;
}

input {
  border-radius: 4px;
  padding: 5px;
  margin: 1px 0px 1px 5px;
}

select {
  border-radius: 4px;
  padding: 5px;
  margin: 1px 0px 1px 5px;
  background-color: white;
}

p {
  word-break: break-all;
}

#purple-button {
  color: white;
  background-color: #1D056D;
}

#purple-button:hover {
  color: #1D056D;
  background-color: white;
}

#white-button {
  color: #1D056D;
  background-color: white;
}

#white-buttom:hover {
  color: white;
  background-color: #1D056D;
}

.margin-push {
  margin: 5px 5px 5px 15px
}

.gray {
  color: gray;
}

::placeholder {
  color: black;
  font-weight: 550;
}


.edit-picture {
  height: 250px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  color: #1D056D;
}
.margin-top {
  margin-top: 20px;
}
